# Pycache directories
__pycache__/

# IDE-related
.idea/

# Django local settings
schema_api/local_settings.py

# Environment variables file
schema-api/.env

# Managers configuration file
schema-api/managers.yml


# Local deployment Configuration
deployment/Installation/

# Virtual environment directory
venv/

# DockerFile
Dockerfile

# Ignore SQLite3 files
*.sqlite3
